{% extends "base.html" %}

{% block head %}
{{ block.super }}
<title>GeoRef</title>
<meta name="viewport" content="initial-scale=1.0, user-scalable=no">
{% endblock %}

{% block style %}
{{ block.super }}
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}external/css/bootstrap.min.css"></link>
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}external/css/jquery.dataTables.min.css"></link>
<link rel="stylesheet" type="text/css" href="/static/georef/css/base.css"></link>
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}geocamTiePoint/css/backbone.css"></link>
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}geocamTiePoint/css/list-overlay-table.css"></link>
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}geocamTiePoint/css/create-overlay.css"></link>
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}geocamTiePoint/css/overlay-view.css"></link>
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}external/jquery-ui-1.12.1.custom/jquery-ui.min.css"></link>

{% endblock style %}

{% block scripts %}
	{{ block.super }}
	<script type="text/javascript">
	// this line needs to be here otherwise views.js won't get it
	window.csrf_token = "{% csrf_token %}";
	</script>
	<script type="text/javascript" src="/static/external/js/jquery-1.7.2.min.js"></script>
	<script type="text/javascript" src="/static/external/js/jquery.dataTables.min.js"></script>
	<script type="text/javascript" src="/static/external/jquery-ui-1.12.1.custom/jquery-ui.min.js"></script>
	<!--script type="text/javascript" src="//maps.googleapis.com/maps/api/js?key=AIzaSyBTKvfgQ562FIwKbSvddIqq2vqEJL9673M&libraries=places"></script-->
	<script type="text/javascript" src="//maps.googleapis.com/maps/api/js?key=AIzaSyCqeDyQcbBy80XwLf0X8gGY0KZjna-txDc&libraries=places"></script>
	<script type="text/javascript" src="/static/external/js/markerwithlabel_2.js"></script>
	<script type="text/javascript" src="/static/external/js/handlebars-1.0.0.beta.6.js"></script>
	<script type="text/javascript" src="/static/external/js/underscore-min.js"></script>
	<script type="text/javascript" src="/static/external/js/splitter.js"></script>
	<script type="text/javascript" src="/static/external/js/bootstrap.min.js"></script>
	<script type="text/javascript" src="/static/external/js/matrix.js"></script>
	<script type="text/javascript" src="/static/external/js/ExtDraggableObject.js"></script>
	<script type="text/javascript" src="/static/external/js/openseadragon/openseadragon.min.js"></script>
	<script type="text/javascript" src="/static/external/js/openseadragon/openseadragon-filtering.js"></script>
	
	<script type="text/javascript" src="/static/geocamTiePoint/js/util.js"></script>
	<script type="text/javascript" src="/static/geocamTiePoint/js/undo.js"></script>
	<script type="text/javascript" src="/static/geocamTiePoint/js/coords.js"></script>
	<script type="text/javascript" src="/static/geocamTiePoint/js/optimize.js"></script>
	<script type="text/javascript" src="/static/geocamTiePoint/js/transform.js"></script>
	<script type="text/javascript" src="/static/geocamTiePoint/js/maputils.js"></script>
	
	<script type="text/javascript" src="/static/external/js/backbone-min.js"></script>
	<script type="text/javascript" src="/static/external/js/backbone-relational.js"></script>
	<script type="text/javascript" src="/static/geocamTiePoint/js/backbone/models.js"></script>
	<script type="text/javascript" src="/static/geocamTiePoint/js/backbone/views.js"></script>
	<script type="text/javascript" src="/static/geocamTiePoint/js/backbone/router.js"></script>
	
	<script type="text/javascript">
		window.settings = {{settings|safe}};
		
		$(function($){
		    //app.overlays = app.overlays || new app.models.OverlayCollection;
		    {% if initial_overlays_json %}
		    // Seed app.overlays with initally loaded data
		    var overlay_bootstrap = {{ initial_overlays_json|safe }};
		    app.overlays = new app.models.OverlayCollection(overlay_bootstrap);
		    //app.overlays.reset(overlay_bootstrap);
		    {% else %}
		    app.overlays = new app.models.OverlayCollection();
		    {% endif %}
		    app.navbar = new app.views.NavbarView({el: $('#navbar').addClass('navbar')});
		    app.navbar.render();
		    app.router.start(); // initializes the app view based on url fragment.
		});
		
		// urls from the server side, often needed for ajax calls
		var cameraModelTransformFitUrl = "{{ cameraModelTransformFitUrl }}";
		var cameraModelTransformForwardUrl = "{{ cameraModelTransformForwardUrl }}";
		var enhanceImageUrl = "{{ enhanceImageUrl }}";
	
		// image enhancement slider values (x offset in pixels)
		var contrastKnobPosition = null;
		var brightnessKnobPosition = null;
		
		// rotation slider value (x offset in pixels)
		var rotateKnobPosition = null;
	 	
		// total length (in pixels) of image  sliders
		var ENHANCE_SLIDER_LENGTH_PIXELS = 57;
		var ROTATION_MAX_PIXELS = 556; // slider spans 556 pixels
	</script>
	
	<script type="text/javascript" src="/static/geocamUtil/js/datatable_helpers.js"></script>
	{% for template_name, template in templates.items %}
		<script type="text/handlebars" id="template-{{template_name}}">
			{{template|safe}}
		</script>
	{% endfor %}
	
{% endblock scripts %}

{% block header %}
{%comment%}{{block.super}}{%endcomment%}
<div id="navbar" class="navbar"></div>
{% endblock header %}

{% block contents %}
<div id='backbone_app_container'></div>
{% endblock contents %}

{% block jsInit %}
{{ block.super }}
{% endblock jsInit %}
