<div id="new_overlay_view">
	<h3> Create New Overlays</h3>
	
	<ul class="nav nav-tabs" id="formTabs">
		<li data-target="#imageIdSubmit"><a href="#imageIdSubmit"> From an ID </a></li>
	</ul>
	<div class="tab-content">
		<div class="tab-pane active" id="imageIdSubmit">
			<table id="create_overlays">
				<tr>
					<td class="columnSpacer"><input class="imageId" name="imageId" type="text" placeholder="i.e. ISS039-E-12345"/> </td>
					<td class="columnSpacer"> <button id="id_add" type="button">Add</button></td>
				</tr>

				<tr>
					<td> <button id="createOverlaysButton" type="button"> Create </button></td>
				</tr>
			</table>
		</div>
	<div id="formErrorContainer"></div>
</div>