<div id="toolbarDiv">
	<div class="slider_parent_div" id="rotation_slider_div" class="ui-widget ui-corner-all">
	    <span>Rotation(&deg;):</span> <div id="rotation-custom-handle" class="widget_value"></div>
	    <div class="slider_div" id="rotation_slider"></div>
	</div>

	
	<div class="slider_parent_div" id="brightness_slider_div" class="ui-widget ui-corner-all">
	    <span>Brightness(-100,100): </span> <div id="brightness-custom-handle" class="widget_value"></div>
	    <div class="slider_div" id="brightness_slider"></div>
	</div>
	
	<div class="slider_parent_div" id="contrast_slider_div" class="ui-widget ui-corner-all">
	    <span>Contrast(-25,100):</span> <div id="contrast-custom-handle" class="widget_value"></div>
	    <div class="slider_div" id="contrast_slider"></div>
	</div> 
	
<!-- 	<div id="autoenhance_div"><button id="autoenhance_botton" type="button">Autoenhance</button></div>
 --></div>
 
 
<div id="osd_viewer" style="width: 100%; height: 80%;"></div>

